<%- include('partials/header') %>



<style>
  .gtco-nav a {
    color: #000;
  }
</style>




<div class="gtco-section confirmation-container">
  <div class="gtco-container">
    <div class="main-wrapper">
        <div class="row form-group">
          <div class="col-md-12">
            <h1 class="reservation-header">
              COMING SOON
            </h1>
          </div>
        </div>
    </div>
  </div>


<!--   
<div class="gtco-section confirmation-container">
  <div class="gtco-container">
    <div class="main-wrapper">
      <form action="/search" method="post">
        <div class="row form-group">
          <div class="col-md-12">
            <h1 class="reservation-header">
              Search reservations
            </h1>
          </div>
          <div class="col-md-12">
            <input type="text" id="search" name="search" class="form-control"
              placeholder="Enter reservation reference number or email address" required>
            <button class="search btn btn-primary"> <span class="icon-search"></span></button>
          </div>
        </div>
      </form>
    </div>
  </div>


  <div class="gtco-section confirmation-container">
    <div class="gtco-container">
      <form action="/search" method="post">
        <div class="row form-group enterOTP">
          <div class="col-md-12">
            <h1 class="reservation-header enterOTP">
              Enter OTP sent to your email address
            </h1>
            <span>Raymondariwoola@gmail.com</span>
          </div>
          <div class="col-md-3 col-sm-12">
            <input type="text" id="otp" name="otp" class="form-control" required>
            <button class="otp btn btn-primary"> <span>Confirm</span></button>
          </div>
        </div>
      </form>
    </div>
  </div> -->


  <script>
    const ctaBtn = document.getElementById("btn-cta");
    ctaBtn.style.display = "none";
  </script>

  <%- include('partials/footer') %>