<%- include('partials/header') %>


  <header id="gtco-header" class="gtco-cover gtco-cover-md" role="banner" style="background-image: url(images/bg2.jpg)"
    data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <h1 class="cursive-font header-1">All in good taste!</h1>
  </header>


  <div class="gtco-section">
    <div class="gtco-container">
      <div class="row">
        <div class="col-sm-6">
          <h1 class="food-menu food-selection">
            Menu
          </h1>
          <ul class="food-items food-reservation-Section">
            <li class="food-item">Baked Plantains  <a href="#" class="btn btn-secondary add-Item">Add</a></li>
            <li class="food-item">Fried Plantains  <a href="#" class="btn btn-secondary add-Item">Add</a></li>
            <li class="food-item">Buffalo Chicken Drumsticks  <a href="#" class="btn btn-secondary add-Item">Add</a></li>
            <li class="food-item">Spaghetti Bolognese  <a href="#" class="btn btn-secondary add-Item">Add</a></li>
            <li class="food-item">Shrimp Fried Rice  <a href="#" class="btn btn-secondary add-Item">Add</a></li>
            <li class="food-item">Classic Corn Salad  <a href="#" class="btn btn-secondary add-Item">Add</a></li>
          </ul>
        </div>
        <div class="col-sm-6">
          <h1 class="user-selected-food food-selection">
          Selected Items
          </h1>
          <ul class="selected-food-items food-reservation-Section">
             </ul>
        </div>

      </div>
    </div>

    <form action="/reservation" method="post" class="reserve-form">
      <input type="hidden" id="hiidenData" name="data" value="">
      <button class="btn btn-success submit" type="submit">Submit Reservation</button>
    </form>
  </div>


  <div class="gtco-cover gtco-cover-sm" style="background-image: url(images/img_bg_1.jpg)"
    data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="gtco-container text-center">
  
      <div class="owl-carousel2">
        <div class="item" data-merge="6">
          <div class="display-t">
            <div class="display-tc">
              <h1>&ldquo; Amazing experience! If you thought gourmet kitchen will leave you hungry, think again. You
                should skip several meals before visiting this amazing place. Everything is so tasty, you cannot stop
                yourself from having all of the dishes!&rdquo;</h1>
              <p>&mdash; Faith, Chef's Wife.</p>
            </div>
          </div>
        </div>
        <div class="item" data-merge="6">
          <div class="display-t">
            <div class="display-tc">
              <h1>&ldquo; Yum yum yum &rdquo;</h1>
              <p>&mdash; Toby, Chef's Son.</p>
            </div>
          </div>
        </div>
  
  
      </div>
  
  
    </div>
  </div>


  <script>
    const ctaBtn = document.getElementById("btn-cta");
    ctaBtn.style.display = "none";
  </script>

  <%- include('partials/footer') %>